catalogue/workflow/telegram_laptop_sales_bot.json
{
  "name": "My workflow 5",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message",
          "callback_query"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -864,
        48
      ],
      "id": "5d0f397d-c0f8-43f0-b32f-49075dd182af",
      "name": "Telegram Trigger",
      "webhookId": "94f2ef2c-92b5-4b40-bff8-4d87a105a715",
      "credentials": {
        "telegramApi": {
          "id": "K6LXocsKfBoYnjXN",
          "name": "Telegram account 6"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message?.text }}",
                    "rightValue": "/start",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "88b0f68d-f201-459b-a81f-0eaa6dcb25f0"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "is_start"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "62f304f4-f924-4361-9a61-f8e7707a6700",
                    "leftValue": "={{ $json.callback_query?.id }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "is_callback"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "1c14a457-315d-4253-8261-0332bfbedaad",
                    "leftValue": "={{ $json.message?.text }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "is_text"
            }
          ]
        },
        "options": {
          "fallbackOutput": "none"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -480,
        32
      ],
      "id": "e2abed4a-8216-4367-bac8-2871b0739675",
      "name": "Switch"
    },
    {
      "parameters": {
        "chatId": "={{ $json.message.chat.id }}",
        "text": "=👋 Hello {{ $json.message.chat.first_name }}!  Welcome to *LaptopStore NG* 🛍️  I'll help you find the perfect laptop in seconds.  💻 *What will you mainly use the laptop for?*  Please tap one of the options below 👇",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "💻 Coding / Programming",
                    "additionalFields": {
                      "callback_data": "cat_coding"
                    }
                  },
                  {
                    "text": "🎮 Gaming",
                    "additionalFields": {
                      "callback_data": "cat_gaming"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "💼 Business / Office",
                    "additionalFields": {
                      "callback_data": "cat_business"
                    }
                  },
                  {
                    "text": "🎨 Design / Graphics",
                    "additionalFields": {
                      "callback_data": "cat_design"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "🎓 Student / School",
                    "additionalFields": {
                      "callback_data": "cat_student"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -128,
        -288
      ],
      "id": "f6880b91-e18c-47bb-85db-69a51493fd7e",
      "name": "Send a text message",
      "webhookId": "86979e61-c7d6-4cd9-bcb6-49584cba3696",
      "credentials": {
        "telegramApi": {
          "id": "K6LXocsKfBoYnjXN",
          "name": "Telegram account 6"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.callback_query.data }}",
                    "rightValue": "cat_",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    },
                    "id": "f6265814-a73a-4303-8bda-7c59ef4c05b5"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "is_category"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "3e8c54fd-21ef-4606-8997-45090b991f19",
                    "leftValue": "={{ $json.callback_query.data }}",
                    "rightValue": "budget_",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "is_budget"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "4d194905-b4ca-4625-b4f2-3a9140b9a227",
                    "leftValue": "={{ $json.callback_query.data }}",
                    "rightValue": "restart",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "is_restart"
            }
          ]
        },
        "options": {
          "fallbackOutput": "none"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -64,
        32
      ],
      "id": "7c1dc2bf-f303-4263-9d4a-0c1589b43d9e",
      "name": "What Stage is Callback?"
    },
    {
      "parameters": {
        "resource": "callback",
        "queryId": "={{ $json.callback_query.id }}",
        "additionalFields": {
          "show_alert": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        240,
        -160
      ],
      "id": "ca081a72-9855-4a8d-91d3-6177a7ed0f03",
      "name": "Answer Query a callback",
      "webhookId": "a96e5324-f5a9-40c2-b61b-d1ab28c646f5",
      "credentials": {
        "telegramApi": {
          "id": "K6LXocsKfBoYnjXN",
          "name": "Telegram account 6"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "25878458-b4fc-4eda-8221-4e8c8fe16442",
              "name": "category",
              "value": "={{ $('What Stage is Callback?').first().json.callback_query.data.replace('cat_', '') }}",
              "type": "string"
            },
            {
              "id": "4857dfde-fc08-4981-86a0-20a5e82b43d4",
              "name": "chat_id",
              "value": "={{ $('What Stage is Callback?').first().json.callback_query.message.chat.id }}",
              "type": "string"
            },
            {
              "id": "74daea62-8152-4c14-a2a2-2b62316d6bf2",
              "name": "message_id",
              "value": "={{ $('What Stage is Callback?').first().json.callback_query.message.message_id }}",
              "type": "string"
            },
            {
              "id": "0c281b0b-3799-4414-9eb7-fb315c16fc34",
              "name": "first_name",
              "value": "={{ $('What Stage is Callback?').first().json.callback_query.message.chat.first_name }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        512,
        -160
      ],
      "id": "fc785a40-2cb9-4ed5-b798-98b07eb1309a",
      "name": "Save Category + Chat ID"
    },
    {
      "parameters": {
        "operation": "editMessageText",
        "chatId": "={{ $json.chat_id }}",
        "messageId": "={{ $json.message_id }}",
        "replyMarkup": "inlineKeyboard",
        "text": "Great choice! 👍  Now, what is your *budget range*?  Tap one of the options below 👇",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "💰 ₦400,000 – ₦800,000",
                    "additionalFields": {
                      "callback_data": "=budget_low__{{ $json.category }}"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "💎 ₦800,000 – ₦1,500,000",
                    "additionalFields": {
                      "callback_data": "=budget_mid__{{ $json.category }}"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "👑 ₦1,500,000+",
                    "additionalFields": {
                      "callback_data": "=budget_high__{{ $json.category }}"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "disable_web_page_preview": false,
          "parse_mode": "Markdown"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        960,
        -160
      ],
      "id": "0120c0e7-49f8-4718-9192-5ba7c0176c50",
      "name": "Set Budget Options",
      "webhookId": "66942152-6817-48da-9692-28061e3d9977",
      "credentials": {
        "telegramApi": {
          "id": "K6LXocsKfBoYnjXN",
          "name": "Telegram account 6"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const category = $('Save Category + Chat ID').first().json.category;\nconst chatId = $('Save Category + Chat ID').first().json.chat_id;\nconst messageId = $('Save Category + Chat ID').first().json.message_id;\nconst firstName = $('Save Category + Chat ID').first().json.first_name;\n\nreturn [{\n  json: {\n    chat_id: chatId,\n    message_id: messageId,\n    category: category,\n    first_name: firstName\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        -160
      ],
      "id": "07103418-26ac-465a-85c0-f2de3c20f3ea",
      "name": "Build Budget Keyboard"
    },
    {
      "parameters": {
        "resource": "callback",
        "queryId": "={{ $json.callback_query.id }}",
        "additionalFields": {
          "show_alert": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        304,
        48
      ],
      "id": "f9ff5402-776d-4516-a3b1-dc983e730314",
      "name": "Answer Budget Callback",
      "webhookId": "9b9cee67-0534-4554-be64-168828e8fb85",
      "credentials": {
        "telegramApi": {
          "id": "K6LXocsKfBoYnjXN",
          "name": "Telegram account 6"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0dfb9c72-1979-442b-874d-87cea0c22d1f",
              "name": "budget_tier",
              "value": "={{ $('What Stage is Callback?').first().json.callback_query.data.split('__')[0].replace('budget_', '') }}",
              "type": "string"
            },
            {
              "id": "7dcaad17-b1a1-4ced-a50d-f41ad0b05e9c",
              "name": "category",
              "value": "={{ $('What Stage is Callback?').first().json.callback_query.data.split('__')[1] }}",
              "type": "string"
            },
            {
              "id": "68d880eb-156b-433c-9645-5f2f0bf67d67",
              "name": "chat_id",
              "value": "={{ $('What Stage is Callback?').first().json.callback_query.message.chat.id }}",
              "type": "string"
            },
            {
              "id": "b1a7a8aa-2961-49a1-ac89-65d2a3e8e9df",
              "name": "first_name",
              "value": "={{ $('What Stage is Callback?').first().json.callback_query.message.chat.first_name }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        560,
        48
      ],
      "id": "e984b81c-ce06-49fb-b7fb-7c16b2c5b251",
      "name": "Extract Budget + Category"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1q6BMP0qJOelhIlARW2BUYzvgIhdSu2gElGSJ_W9dXmE",
          "mode": "list",
          "cachedResultName": "TechHub Store",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1q6BMP0qJOelhIlARW2BUYzvgIhdSu2gElGSJ_W9dXmE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Laptops",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1q6BMP0qJOelhIlARW2BUYzvgIhdSu2gElGSJ_W9dXmE/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        800,
        48
      ],
      "id": "e8495fba-235d-4a11-a11d-3834f1042a3c",
      "name": "Get All Laptops",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "rAARbI8Nyb63ftQV",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const allLaptops = $input.all().map(item => item.json);\n\nconst budgetTier = $('Extract Budget + Category').first().json.budget_tier;\nconst category = $('Extract Budget + Category').first().json.category;\nconst chatId = $('Extract Budget + Category').first().json.chat_id;\nconst firstName = $('Extract Budget + Category').first().json.first_name;\n\nconst matches = allLaptops.filter(laptop => {\n  const categories = laptop.categories\n    ? laptop.categories.toLowerCase().split(',').map(c => c.trim())\n    : [];\n  const inCategory = categories.includes(category.toLowerCase());\n  const inBudget = laptop.budget_tier === budgetTier;\n  const inStock = laptop.in_stock === true || \n                  laptop.in_stock === 'TRUE';\n  return inCategory && inBudget && inStock;\n});\n\nconst top3 = matches.slice(0, 3);\nconst reasonKey = `reason_${category.toLowerCase()}`;\n\nif (top3.length === 0) {\n  return [{\n    json: {\n      text: '😔 No exact matches found right now.',\n      chat_id: chatId,\n      first_name: firstName,\n      has_results: false,\n      is_last: true\n    }\n  }];\n}\n\n// Build all messages as a single combined text\nconst allMessages = top3.map((laptop, index) => {\n  const price = Number(laptop.price).toLocaleString('en-NG');\n  const reason = laptop[reasonKey] || 'Great match for your needs.';\n  const gpu = laptop.gpu ? `🎮 *GPU:* ${laptop.gpu}\\n` : '';\n\n  return `*${index + 1}. ${laptop.name}*\\n\\n` +\n    `🔧 *CPU:* ${laptop.cpu}\\n` +\n    `💾 *RAM:* ${laptop.ram}\\n` +\n    `💿 *Storage:* ${laptop.storage}\\n` +\n    `${gpu}` +\n    `💰 *Price:* ₦${price}\\n\\n` +\n    `✅ _${reason}_`;\n});\n\n// Return ONE item with all recommendations combined\nreturn [{\n  json: {\n    text: allMessages.join('\\n\\n─────────────────\\n\\n'),\n    chat_id: chatId,\n    first_name: firstName,\n    has_results: true\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1008,
        48
      ],
      "id": "0378ad0b-b5d0-45e8-9d7a-ea571c05c590",
      "name": "Filter"
    },
    {
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "={{ $json.text }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1216,
        48
      ],
      "id": "308bd101-2903-4626-b761-2cdbb6bafb57",
      "name": "Recommendation",
      "webhookId": "6c1bbdae-d46f-400d-a69e-090df73cf0f8",
      "credentials": {
        "telegramApi": {
          "id": "K6LXocsKfBoYnjXN",
          "name": "Telegram account 6"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Extract Budget + Category').first().json.chat_id }}",
        "text": "💬 *Interested in any of these?*  Our sales team is ready to help you order, confirm availability, or answer any questions!",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "💬 Talk to Sales (WhatsApp)",
                    "additionalFields": {
                      "url": "https://wa.me/2348160952522?text=Hi, I want to order a laptop"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "🔄 Start Over",
                    "additionalFields": {
                      "callback_data": "restart"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1424,
        48
      ],
      "id": "f275da48-f5ec-4f9f-a574-9123a26bfa0e",
      "name": "Send CTA",
      "webhookId": "d761b2bd-1c4a-433c-b21f-61ea522f77b3",
      "credentials": {
        "telegramApi": {
          "id": "K6LXocsKfBoYnjXN",
          "name": "Telegram account 6"
        }
      }
    },
    {
      "parameters": {
        "resource": "callback",
        "queryId": "={{ $('What Stage is Callback?').first().json.callback_query.id }}",
        "additionalFields": {
          "show_alert": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        256,
        272
      ],
      "id": "590933d2-aecc-4a67-9bb6-e9997381f98b",
      "name": "Answer Restart Callback",
      "webhookId": "cc6434d5-045e-4eac-a231-11ac42d9d83e",
      "credentials": {
        "telegramApi": {
          "id": "K6LXocsKfBoYnjXN",
          "name": "Telegram account 6"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('What Stage is Callback?').first().json.callback_query.message.chat.id }}",
        "text": "👋 Welcome back!  Let's find you the perfect laptop again 🛍️  💻 *What will you mainly use the laptop for?*  Please tap one of the options below 👇",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "💻 Coding / Programming",
                    "additionalFields": {
                      "callback_data": "cat_coding"
                    }
                  },
                  {
                    "text": "🎮 Gaming",
                    "additionalFields": {
                      "callback_data": "cat_gaming"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "💼 Business / Office",
                    "additionalFields": {
                      "callback_data": "cat_business"
                    }
                  },
                  {
                    "text": "🎨 Design / Graphics",
                    "additionalFields": {
                      "callback_data": "cat_design"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "🎓 Student / School",
                    "additionalFields": {
                      "callback_data": "cat_student"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        464,
        272
      ],
      "id": "cda92cea-0fd6-496f-af3b-ed16bf1ba467",
      "name": "Send Welcome Again",
      "webhookId": "976ff175-cf72-4715-9026-4dc515d50082",
      "credentials": {
        "telegramApi": {
          "id": "K6LXocsKfBoYnjXN",
          "name": "Telegram account 6"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.message.chat.id }}",
        "text": "👋 Hey! I work with buttons only 😊  Tap the button below to get started and I'll help you find the perfect laptop!",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "🚀 Find My Laptop",
                    "additionalFields": {
                      "callback_data": "restart"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -128,
        288
      ],
      "id": "4499efc0-0774-4a17-95de-6a899e15f7c7",
      "name": "Send Fallback Message",
      "webhookId": "dd653d0a-2ad3-416e-bdf6-cb5bad5a25e4",
      "credentials": {
        "telegramApi": {
          "id": "K6LXocsKfBoYnjXN",
          "name": "Telegram account 6"
        }
      }
    },
    {
      "parameters": {
        "chatId": "7445174216",
        "text": "=🔔 *NEW LEAD ALERT!*  👤 *Name:* {{ $('Extract Budget + Category').first().json.first_name }} 🆔 *Telegram ID:* {{ $('Extract Budget + Category').first().json.chat_id }} 💻 *Category:* {{ $('Extract Budget + Category').first().json.category }} 💰 *Budget:* {{ $('Extract Budget + Category').first().json.budget_tier === 'low' ? '₦400,000 – ₦800,000' : $('Extract Budget + Category').first().json.budget_tier === 'mid' ? '₦800,000 – ₦1,500,000' : '₦1,500,000+' }} ⏰ *Time:* {{ new Date().toLocaleString('en-NG', {timeZone: 'Africa/Lagos'}) }}  _They've been shown recommendations and offered WhatsApp contact_ 🛍️",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1600,
        64
      ],
      "id": "4b5447b8-e50d-4131-857c-5705dfcf5a77",
      "name": "Alert Admin - New Lead",
      "webhookId": "f110b782-f7bf-452c-9d7c-4aed59f97e0f",
      "credentials": {
        "telegramApi": {
          "id": "K6LXocsKfBoYnjXN",
          "name": "Telegram account 6"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "What Stage is Callback?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Fallback Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "What Stage is Callback?": {
      "main": [
        [
          {
            "node": "Answer Query a callback",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Answer Budget Callback",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Answer Restart Callback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Answer Query a callback": {
      "main": [
        [
          {
            "node": "Save Category + Chat ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Category + Chat ID": {
      "main": [
        [
          {
            "node": "Build Budget Keyboard",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Budget Keyboard": {
      "main": [
        [
          {
            "node": "Set Budget Options",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Answer Budget Callback": {
      "main": [
        [
          {
            "node": "Extract Budget + Category",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Budget + Category": {
      "main": [
        [
          {
            "node": "Get All Laptops",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Laptops": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Recommendation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Recommendation": {
      "main": [
        [
          {
            "node": "Send CTA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Answer Restart Callback": {
      "main": [
        [
          {
            "node": "Send Welcome Again",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send CTA": {
      "main": [
        [
          {
            "node": "Alert Admin - New Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "ee2630a1-09b5-41ce-a109-16d1987cee35",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b453f6726217e7442490f6b0ff221e59594eec1c411276d4c8bcf9f0f1135322"
  },
  "id": "JLWPHsp4TmfL943f",
  "tags": []
}
